div.form-container form{
    display: block;
   max-width: 700px;
   margin: 0 auto;
   margin-top: 50px;
}
div.form-container form label,div.form-container form input{
    display: block;
    width: 100%;
}
div.form-container form label{
    font-size: .9em;
    margin-top: 15px;
    margin-bottom: 1px;
}
div.form-container form input[type='text']{
    border-radius: 15px;
    border: gray 1px solid;
    padding: 10px 15px;
}
div.form-container form input[type='file']{
    border-radius: 15px;
    border: gray 1px solid;
    padding: 10px 10px;
}
div.form-container form button{
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
}
div.message-erro{
background-color: rgb(255, 227, 227);
color: rgb(172, 75, 75);
font-size: .8em;
padding: 4px 10px;
margin-top: 2px;
}
div.tumblist{
    display: flex;
    margin-top: 10px;
    margin-bottom: -10px;
}
div.tumbnails {
    display: inline;
    width: 70px; 
    height: 70px;
    margin-right: 5px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}