nav{
    display: block;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
    margin-bottom: 25px;
}
nav img{
    display: block;
    margin: 0 auto;
}
nav div{
    display: block; 
    margin-top: 10px;
}
nav div button{
   
    display: block;
    margin: 0 auto;
    padding: 5px 25px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
}