div.imagePreview{
    display: inline;
    margin: 3px; 
}

div.imageContainer{
    position: relative;
    background-color: #fff;
    width:100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}
div.image,div.info,div.file, div.eye{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

div.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.info{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}
div.imageContainer:hover div.info{
    display: block;
}
div.eye {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
div.eye svg{
    color: rgba(255, 255, 255, 0.7);
    width: 30%;
    height: 30%;
    aspect-ratio: 1/1;
}
div.file{
    display: flex;
    justify-content: end;
    aspect-ratio: 1/1;
    padding: 6px;
}
div.file svg{
    color: rgba(255, 255, 255, 0.7);
    width: 9%;
    height: 9%;
}
